<!--<h1 class="page-title">Edit user {{user.username}}</h1>-->
<!--<div class="user-edit">-->
  <!--<form #userForm="ngForm" (ngSubmit)="editUser(userForm)" novalidate>-->
    <!--<label for="username">Username:</label>-->
    <!--<br>-->
    <!--<input type="text" id="username" class="form-control" placeholder="{{user.username}}"-->
           <!--required-->
           <!--name="username" [(ngModel)]="user.username"-->
           <!--#title="ngModel">-->
    <!--<br>-->
    <!--<label for="firstname">First name:</label>-->
    <!--<br>-->
    <!--<input type="text" id="firstname" class="form-control" placeholder="{{user.firstname}}"-->
           <!--required-->
           <!--name="fistname" [(ngModel)]="user.firstname"-->
           <!--#title="ngModel">-->
    <!--<br>-->
    <!--<label for="lastname">Last name:</label>-->
    <!--<br>-->
    <!--<input type="text" id="lastname" class="form-control" placeholder="{{user.lastname}}"-->
           <!--required-->
           <!--name="lastname" [(ngModel)]="user.lastname"-->
           <!--#title="ngModel">-->
    <!--<br>-->
    <!--<label for="email">Email:</label>-->
    <!--<br>-->
    <!--<input type="text" id="email" class="form-control" placeholder="{{user.email}}"-->
           <!--required-->
           <!--name="email" [(ngModel)]="user.email"-->
           <!--#title="ngModel">-->
    <!--<br>-->
    <!--<label for="password">Password:</label>-->
    <!--<br>-->
    <!--<input type="text" id="password" class="form-control" placeholder="{{user.password}}"-->
           <!--required-->
           <!--name="password" [(ngModel)]="user.password"-->
           <!--#title="ngModel">-->
    <!--<br>-->
    <!--<button type="submit" value="Aanpassen">Aanpassen</button>-->
  <!--</form>-->
<!--</div>-->
