<h2>{{band.name}}</h2>
<p class="title">Lesgever</p>
<p>{{band.teacher}}</p>
<p class="title">Studenten</p>
<ul>
  <li *ngFor="let student of band.students">
    <p>{{student}}</p>
  </li>
</ul>
<div class="btnContainer col-12">
  <button id="editButton" class="btn btn-default" routerLink="/bands/editband/{{band.id}}" >
    <span class="fa fa-edit"></span> aanpassen
  </button>
  <button id="deleteButton" class="btn btn-default" routerLink="/bands/deleteband/{{band.id}}">
    <span class="fa fa-remove"></span> verwijderen
  </button>
  <button id="cancelButton" class="btn btn-default" routerLink="/bands">
    <span class="fa fa-arrow-left"></span> Terug
  </button>
</div>
