<h1>Kalender met alle evenementen en lessen</h1>
<angular2-fullcalendar [options]="calOptions" id="mycal" #mycal></angular2-fullcalendar>
<button type="button" value="Evenement aanmaken" routerLink="/events/create">Event aanmaken</button>
<button type="button" value="Les aanmaken" routerLink="">Les aanmaken</button>
<button type="button" value="Eigen evenementen/lessen op kalender" routerLink="/events/user/2">Eigen evenementen/lessen
  op kalender
</button>
<button type="button" value="Alle evenementen/lessen" routerLink="/events/all">Lijstweergaven van alle
  evenementen/lessen
</button>
