h1 {
  text-align: center;
}

label {
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px 5px 5px 0;
  display: inline-block;
}

form {
  box-sizing: border-box;
}

input {
  width: 20%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

textarea {
  width: 25%;
  height: 25%;
}

.btnContainer {
  padding: 5px 5px 5px 0;
  text-align: center;
}

button {
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: lightgreen;
}

#nameStudent {
  border: 1px solid black;
  text-align: center;
}
