button {
  margin-top: 10px;
  margin-right: 5px;
}

label {
  margin-top: 5px;
  font-weight: bold;
}

input, select {
  margin-left: 15px;
}

.alert-danger {
  margin-top: 5px;
}

h2 {
  font-weight: bold;
  display: inline;
}

#studentMails {
  margin-left: 11pt;
}

#addedStudents {
  margin-top: 20px;
}

.fa-check {
  color: black;
}

.fa-plus{
  color: green;
}

.fa-arrow-left {
  color: blue;
}
