<h1>Maak evenement aan</h1>
<form id="createEventForm" #createEventForm="ngForm" (ngSubmit)="createEvent(createEventForm)">
  <label for="eventName">Naam: </label>
  <input id="eventName" type="text" placeholder="name"
         required
         name="name" [(ngModel)]="newEvent.name"
         #title="ngModel">
  <label for="eventPlace">Plaats: </label>
  <input id="eventPlace" type="text" placeholder="plaats"
         required
         name="place" [(ngModel)]="newEvent.place"
         #title="ngModel">
  <label for="eventDate">Datum: </label>
  <input id="eventDate" type="datetime-local"
         required
         name="date" [(ngModel)]="newEvent.dateTime"
         #title="ngModel">
  <label for="eventBand">Band: </label>
  <select id="eventBand" type="text" name="band" [(ngModel)]="newEvent.band">
    <option *ngFor="let band of bands" [value]="band.name">{{band.name}}</option>
  </select>
  <div class="btnContainer">
    <button id="submitBtn" type="submit" value="Aanmaken">Aanmaken</button>
    <button id="cancelBtn" type="reset" value="Cancel">Cancel</button>
  </div>
</form>
