<form id="editInstrumentForm" #editInstrumentForm="ngForm" (ngSubmit)="editInstrument(editInstrumentForm)">
<label for="instrumentName">Naam</label>
<input id="instrumentName" type="text" placeholder="name"
       required
       name="instrumentName" [(ngModel)]="instrument.name"
       #title="ngModel"
       #name="ngModel"
>
<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
  Name is required
</div>
<label for="instrumentSort">Soort </label>
<select id="instrumentSort" name="instrumentSort" [(ngModel)]="instrument.sort" required #sort="ngModel">
  <option *ngFor="let sort of sorts" [value]="sort">{{sort}}</option>
</select>
<div [hidden]="sort.valid || sort.pristine" class="alert alert-danger">
  Soort is required
</div>
<label for="instrumentType">Type </label>
<input id="instrumentType" type="text"
       name="instrumentType" [(ngModel)]="instrument.type"
       #title="ngModel"
       #type="ngModel"
       [required]="sort.value==='SNAAR' || sort.value==='SLAG' ? true : null"
>
<div [hidden]="type.valid || type.pristine" class="alert alert-danger">
  type is required
</div>
<label for="instrumentVersion">Uitvoering </label>
<input id="instrumentVersion" type="text"
       name="instrumentVersion" [(ngModel)]="instrument.version"
       #title="ngModel"
       #version="ngModel"
       [required]="sort.value==='SNAAR' ? true : null"
>
<!--pristing tells when field is empty-->
<div [hidden]="version.valid || version.pristine" class="alert alert-danger">
  type is required
</div>
<div class="btnContainer">
  <button id="submitBtn" type="submit" value="Aanmaken" [disabled]="!editInstrumentForm.form.valid">Wijzigingen opslaan
  </button>
  <button id="cancelBtn" type="reset" value="Cancel">Cancel</button>
</div>
