.bandDetails {
  border: 2px solid darkslategray;
  border-radius: 5px;
  margin-bottom: 5px;
}

h2 {
  display: inline;
}

#addband {
  align-content: center;
  vertical-align: center;
  font-weight: bold;
}

.infoRow {
  border-bottom: 1px solid black
}

td > a {
  margin-top: 5px;
}

.title {
  font-weight: bold;
}

.col-sm-4-5{
  width: 37.45%;
}

label {
  font-weight: bold;
}

.fa{
  font-size: 200%;
}

.fa-plus {
  font-size: 150%;
  color: green;
}

.fa-remove {
  color: red;
}

.fa-info-circle {
  color: black;
}

