<h2>Bands</h2>
<a id="addband" class="btn btn-default d-none d-sm-inline float-right" routerLink="/bands/createband">
  <span class="fa fa-plus"></span> nieuwe band</a>
<div class="d-block d-sm-none">
  <div *ngFor="let band of bands">
    <div class="bandDetails">
      <div class="d-flex infoRow">
        <p class="col-6 title">Naam</p>
        <p>{{band.name}}</p>
      </div>
      <div class="d-flex infoRow">
        <p class="col-6 title">Leerkracht</p>
        <p>{{band.teacher}}</p>
      </div>
      <div class="d-flex infoRow">
        <p class="col-6 title">Studenten</p>
        <div class="col6">
          <p *ngFor="let student of band.students">{{student}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive-md">
  <table class="col-md-12 table table-striped table-bordered d-none d-sm-table">
    <thead class="thead-dark">
    <tr class="d-sm-flex">
      <th scope="col" class="col-sm-2 col-lg-2 text-center">Naam</th>
      <th scope="col" class="col-sm-4-5 col-lg-4 text-center">Lesgever</th>
      <th scope="col" class="col-sm-4-5 col-lg-4 text-center">studenten</th>
      <th scope="col" class="col-sm-1 col-lg-2 text-center">Opties</th>
    </tr>
    </thead>
    <tbody>
    <tr class="d-sm-flex" *ngFor="let band of bands">
      <td class="col-sm-2">{{band.name}}</td>
      <td class="col-sm-4-5 col-lg-4">{{band.teacher}}</td>
      <td class="col-sm-4-5 col-lg-4"><span *ngFor="let student of band.students"
                                            class="col-12 col-md-6">{{student}} </span></td>
      <td class="col-sm-1 col-lg-2 d-lg-flex">
        <a class="fa fa-info-circle col-sm-12 col-lg-4" routerLink="/bands/banddetail/{{band.id}}"></a>
        <a class="fa fa-edit col-sm-12 col-lg-4" routerLink="/bands/editband/{{band.id}}"></a>
        <a class="fa fa-remove col-sm-12 col-lg-4" routerLink="/bands/deleteband/{{band.id}}"></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
