<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Create new Music file</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="artist">Artist</label>
          <input type="text" class="form-control" id="artist" formControlName="artist">
        </div>
        <div class="form-group">
          <label for="language">Language</label>
          <input type="text" class="form-control" id="language" formControlName="language">
        </div>
        <div class="form-group">
          <label for="file">Music File</label>
          <div class="input-group">
            <div class="form-control">
              <!--<label class="custom-file-label" for="file" style="background-color: transparent"></label>-->
              <input #fileInput type="file" id="file"   (change)="onFileChange($event)">
            </div>
            <div class="input-group-append">
              <button type="button" class="btn btn-dark" (click)="clearFile()">Clear</button>
            </div>
          </div>
        </div>


        <button [disabled]="form.invalid || loading" class="btn btn-dark btn-block">
          <i *ngIf="loading" class="fa fa-spinner fa-pulse"></i>
          <div *ngIf="!loading">Submit</div>
        </button>
        <div *ngIf="succes == true" class="alert alert-success text-center">{{response}}</div>
        <div *ngIf="succes == false" class="alert alert-danger text-center">{{response}}</div>
      </form>
    </div>
  </div>
</div>
