<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Create new Music file</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="artist">Artist</label>
          <input type="text" class="form-control" id="artist" formControlName="artist">
        </div>
        <div class="form-group">
          <label for="language">Language</label>
          <input type="text" class="form-control" id="language" formControlName="language">
        </div>
        <div class="form-group">
          <label for="file">Music File</label>
          <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
          <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
        </div>
        <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
        <div *ngIf="succes == true" class="alert alert-success text-center">{{response}}</div>
        <div *ngIf="succes == false" class="alert alert-danger text-center">{{response}}</div>
      </form>

    </div>
  </div>
</div>
