<!-- navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/users" >Gebruikers</a></li>
      <li routerLinkActive="active"><a routerLink="/instruments" >instrument</a></li>
      <li routerLinkActive="active"><a routerLink="/events" >events</a></li>
      <li routerLinkActive="active"><a routerLink="/band" >Band</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <p class="navbar-text" *ngIf="isAdminUser">You are a Beheerder!</p>
      <p class="navbar-text" *ngIf="isUser">You are a user!</p>
      <li>
        <button class="btn navbar-btn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<!-- Routed views go here -->
<router-outlet></router-outlet>

<footer>FAQ CONTACT KdG 2018</footer>

