<div class="form-wrapper">
  <h2 class="text-center">Registreren</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
             required placeholder="E-mail"/>
      <div *ngIf="f.submitted && !email.valid" class="help-block">E-mail is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
             required placeholder="Password"/>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-dark">
        <i *ngIf="loading" class="fa fa-spinner fa-pulse"></i>
        <div *ngIf="!loading">Registreer</div>
      </button>
    </div>
    <div *ngIf="succes == true" class="alert alert-success text-center">{{response}}</div>
    <div *ngIf="succes == false" class="alert alert-danger text-center">{{response}}</div>
  </form>
  <p>Inloggen? <a href="/account/login">klik hier!</a></p>
</div>

