<h1>Music Makers</h1>
<div class="login">
  <app-alert></app-alert>
  <h1>Log in</h1>
  <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && login()" novalidate>
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" [(ngModel)]="user.email" required>
    <span *ngIf="userForm.Submitted && !email.valid" class="noAcces">Email moet ingevuld zijn!</span>
    <label for="password">Wachtwoord:</label>
    <input id="password" type="password" name="password" [(ngModel)]="user.password" required>
    <span *ngIf="userForm.Submitted && !password.valid" class="noAcces">Paswoord moet ingevuld zijn!</span>
    <div class="btnContainer">
      <button type="submit" value="Log in">Log in</button>
    </div>
  </form>
</div>

