<h2>Verwijder band {{bandToDelete.name}}?</h2>
<p class="heading">Naam</p>
<p class="">{{bandToDelete.name}}</p>
<p class="heading">Lesgever</p>
<p class="">{{bandToDelete.teacher}}</p>
<p class="heading">Studenten</p>
<ul>
  <li *ngFor="let student of bandToDelete.students">
    <p>{{student}}</p>
  </li>
</ul>
<div class="btnContainer col-xs-12">
  <button id="submitBtn" class="btn btn-default" (click)="deleteBand()">
    <span class="fa fa-remove"></span>Verwijder
  </button>
  <button id="cancelBtn" class="btn btn-default" routerLink="/bands">
    <span class="fa fa-arrow-left"></span>Terug
  </button>
</div>
