<h2>
  Testing TokenLib
</h2>
<p style="clear: left">Lesgever zal ook beheerder rechten hebbben wegens backend change voor de specifieke httpcall</p>

<div style="clear: left; padding-top: 20px">
  <h4 class="mr-3" style="float: left" >LEERLING RIGHTS</h4>
  <div *ngIf="roles" class="fa fa-check fa-2x"></div>
  <div *ngIf="!roles" class="fa fa-times fa-2x"></div>
</div>
<div style="clear: left">
  <h4 class="mr-3" style="float: left" >LESGEVER RIGHTS</h4>
  <div *ngIf="lessontypes" class="fa fa-check fa-2x"></div>
  <div *ngIf="!lessontypes" class="fa fa-times fa-2x"></div>
</div>
<div style="clear: left">
  <h4 class="mr-3" style="float: left" >BEHEERDER RIGHTS</h4>
  <div *ngIf="users" class="fa fa-check fa-2x"></div>
  <div *ngIf="!users" class="fa fa-times fa-2x"></div>
</div>


