<h1>Verwijder band {{band.name}}?</h1>
<label for="bandName">Naam: </label>
<p id="bandName">{{band.name}}</p>
<label for="bandTeacher">Lesgever: </label>
<p id="bandTeacher">{{band.teacher}}</p>
<label for="bandStudents">Studenten: </label>
<textarea readonly id="bandStudents" *ngFor="let student of band.students">{{student}}</textarea>
<div class="btnContainer">
  <button id="submitBtn" type="submit" value="Verwijder">Verwijder</button>
  <button id="cancelBtn" type="Button" value="Terug">Terug</button>
</div>

