<h2>Maak een instrument aan</h2>
<form id="createInstrumentForm" class="col-xs-12" #createInstrumentForm="ngForm"
      (ngSubmit)="createInstrument(createInstrumentForm)">
  <label class="col-xs-12" for="instrumentName">Naam</label>
  <input id="instrumentName" class="col-xs-12 col-sm-5 col-lg-4" type="text" placeholder="name"
         required
         name="instrumentName" [(ngModel)]="newInstrument.name"
         #title="ngModel"
         #name="ngModel"
  >
  <div [hidden]="name.valid || name.pristine" class="alert alert-danger col-xs-12">
    Name is required
  </div>
  <label for="instrumentSort" class="col-xs-12">Soort </label>
  <select id="instrumentSort" class="col-sm-4 col-md-4 col-lg-3" name="instrumentSort"
          [(ngModel)]="newInstrument.sort"
          required
          #sort="ngModel">
    <option *ngFor="let sort of sorts" [value]="sort" class="col-xs-12 ">{{sort}}</option>
  </select>
  <div [hidden]="sort.valid || sort.pristine" class="alert alert-danger col-xs-12">
    Soort is required
  </div>
  <div *ngIf="sort.value === 'BLAAS' || sort.value === 'SNAAR'">
    <label for="instrumentType" class="col-xs-12">Type </label>
    <input id="instrumentType" class="col-xs-12 col-sm-5 col-lg-4" type="text"
           name="instrumentType" [(ngModel)]="newInstrument.type"
           #title="ngModel"
           #type="ngModel"
           [required]="sort.value==='SNAAR' || sort.value==='SLAG' ? true : null"
    >
    <div [hidden]="type.valid || type.pristine" class="alert alert-danger col-xs-12">
      type is required
    </div>
  </div>
  <div *ngIf="sort.value === 'SNAAR'">
    <label for="instrumentVersion" class="col-xs-12">Uitvoering </label>
    <input id="instrumentVersion" class="col-xs-12 col-sm-5 col-lg-4" type="text"
           name="instrumentVersion" [(ngModel)]="newInstrument.version"
           #title="ngModel"
           #version="ngModel"
           [required]="sort.value==='SNAAR' ? true : null"
    >
    <!--pristine tells when field is empty-->
    <div [hidden]="version.valid || version.pristine" class="alert alert-danger col-xs-12">
      Uitvoering is required
    </div>
  </div>
  <div class="btnContainer col-xs-12">
    <button id="submitBtn" class="btn btn-default" type="submit" value="Aanmaken"
            [disabled]="!createInstrumentForm.form.valid">
      <span class="glyphicon glyphicon-ok"></span>Aanmaken
    </button>
    <button id="cancelBtn" class="btn btn-default" type="reset" value="Cancel">
      <span class="glyphicon glyphicon-refresh"></span>Reset
    </button>
    <button class="btn btn-default" routerLink="/instruments">
      <span class="glyphicon glyphicon-ban-circle"></span>Annuleren
    </button>
  </div>
</form>
