<h1>Alle geplande evenementen</h1>
<h2>Evenementen</h2>
<table id="eventTable">
  <tr>
    <th>Naam</th>
    <th>Datum</th>
    <th>Plaats</th>
    <th>Band</th>
    <th>Opties</th>
  </tr>
  <tr *ngFor="let event of events">
    <td>{{event.title}}</td>
    <td>{{event.start}}</td>
    <td>{{event.place}}</td>
    <td>{{event.band}}</td>
    <td>
      <button type="button" value="Aanpassen" routerLink="/events/edit/{{event.id}}">Aanpassen</button>
      <button type="button" value="Verwijderen" routerLink="/events/delete/{{event.id}}">Verwijderen</button>
    </td>
    </tr>
</table>

