<h2>Details van {{instrument.name}}</h2>
<div id="info">
  <p class="col-sm-4 title">Naam</p>
  <p class="detail">{{instrument.name}}</p>
  <p class="col-sm-4 title">Soort</p>
  <p class="detail">{{instrument.sort}}</p>
  <div *ngIf="instrument.sort === 'SNAAR' || instrument.sort === 'BLAAS'">
    <p class="col-sm-4 title">Type</p>
    <p class="detail">{{instrument.type}}</p></div>
  <div *ngIf="instrument.sort === 'SNAAR'">
    <p class="col-sm-4 title">Uitvoering</p>
    <p class="detail">{{instrument.version}}</p>
  </div>
  <div class="ml-3">
    <button class="btn btn-default" routerLink="/instrument/edit/{{instrument.id}}">
      <span class="fa fa-edit"></span>Edit
    </button>
    <button class="btn btn-default" routerLink="/instrument/delete/{{instrument.id}}">
      <span class="fa fa-remove"></span>Delete
    </button>
    <button class="btn btn-default" routerLink="/instruments">
      <span class="fa fa-arrow-left"></span>Delete
    </button>
  </div>
</div>
