h2{
  font-weight: bold;
  display: inline;
}
#info{
  margin-top: 5px;
}
.title{
  font-weight: bold;
}
.detail{
  margin-left: 15px;
}
.fa{
  font-size: 150%;
}
.fa-remove{
  color: red;
}
.fa-arrow-left{
  color: blue;
}
