<h1>Pas {{instrument.name}} aan</h1>
<form id="editInstrumentForm" #editInstrumentForm="ngForm" (ngSubmit)="editInstrument(editInstrumentForm)">
  <label class="col-12" for="instrumentName">Naam</label>
  <input id="instrumentName" class="col-12 col-sm-5 col-lg-4" type="text" placeholder="name"
         required
         name="instrumentName" [(ngModel)]="instrument.name"
         #title="ngModel"
         #name="ngModel"
  >
  <div [hidden]="name.valid || name.pristine" class="alert alert-danger col-12">
    Name is required
  </div>
  <label for="instrumentSort" class="col-12">Soort</label>
  <select id="instrumentSort" class="col-sm-4 col-md-4 col-lg-3" name="instrumentSort" [(ngModel)]="instrument.sort"
          required #sort="ngModel">
    <option *ngFor="let sort of sorts" [value]="sort">{{sort}}</option>
  </select>
  <div [hidden]="sort.valid || sort.pristine" class="alert alert-danger col-12">
    Soort is required
  </div>
  <div *ngIf="sort.value === 'BLAAS' || sort.value === 'SNAAR'">
    <label for="instrumentType" class="col-12">Type</label>
    <input id="instrumentType" class="col-12 col-sm-5 col-lg-4" type="text"
           name="instrumentType" [(ngModel)]="instrument.type"
           #title="ngModel"
           #type="ngModel"
           [required]="sort.value==='SNAAR' || sort.value==='SLAG' ? true : null"
    >
    <div [hidden]="type.valid || type.pristine" class="alert alert-danger  col-12">
      type is required
    </div>
  </div>
  <div *ngIf="sort.value === 'SNAAR'">
    <label for="instrumentVersion" class="col-12">Uitvoering</label>
    <input id="instrumentVersion" class="col-12 col-sm-5 col-lg-4" type="text"
           name="instrumentVersion" [(ngModel)]="instrument.version"
           #title="ngModel"
           #version="ngModel"
           [required]="sort.value==='SNAAR' ? true : null"
    >
    <!--pristine tells when field is empty-->
    <div [hidden]="version.valid || version.pristine" class="alert alert-danger col-12">
      type is required
    </div>
  </div>
  <div class="btnContainer col-12">
    <button id="submitBtn" class="btn btn-default" type="submit" value="Aanmaken"
            [disabled]="!editInstrumentForm.form.valid">
      <span class="fa fa-check"></span>Opslaan
    </button>
    <button class="btn btn-default">
      <span class="fa fa-arrow-left"></span>Annuleren
    </button>
  </div>
</form>
