<h2>Muziekstukken</h2>
<a id="addpiece" class="btn hidden-xs d-none d-sm-inline float-right" routerLink="/admin/musicpieces/create"><span
  class="fa fa-plus"></span> laad een muziekstuk op</a>
<div class="d-block d-sm-none">
  <div *ngFor="let piece of pieces">
    <div class="lessonDetails">
      <div class="d-flex">
        <p class="col-6 title">Titel</p>
        <p>{{piece.title}}</p>
      </div>
      <div class="d-flex">
        <p class="col-6 title">Artiest</p>
        <p>{{piece.artist}}</p>
      </div>
      <div class="d-flex">
        <p class="col-6 title">Taal</p>
        <p>{{piece.language}}</p>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped table-bordered d-none d-sm-table">
  <thead class="thead-dark">
  <tr class="d-flex bigBorder">
    <th scope="col" class="col-6 text-center">Titel</th>
    <th scope="col" class="col-4 text-center">Artiest</th>
    <th scope="col" class="col-2 text-center">Taal</th>
  </tr>
  </thead>
  <tbody>
  <tr class="d-flex" *ngFor="let piece of pieces">
    <td class="col-sm-6">{{piece.title}}</td>
    <td class="col-sm-4">{{piece.artist}}</td>
    <td class="col-sm-2">{{piece.language}}</td>
  </tr>
  </tbody>
</table>
